<footer>
    <div class="container border-top">
        <div class="row my-3">
            <div class="col-4 text-right">
                <ul class="list-inline d-flex justify-content-center">
                    <li class="list-inline-item m-auto"><a href="#">Terms</a></li>
                    <li class="list-inline-item m-auto"><a href="#">Privacy</a></li>
                    <li class="list-inline-item m-auto"><a href="#">Help</a></li>
                </ul>
            </div>
            <div class="col-4 text-center">
                <p>Copyright &copy; Website 2020</p>
            </div>
            <div class="col-4">
                <ul class="list-inline d-flex justify-content-center">
                    <li class="list-inline-item m-auto"><a href="#">Contact</a></li>
                    <li class="list-inline-item m-auto"><a href="#">About</a></li>
                    <li class="list-inline-item m-auto"><a href="#">Blog</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>